@font-face {
  font-family: RobotoCondensed;
  src: url('../fonts/RobotoCondensed-Light.ttf') format("opentype"); }
@font-face {
  font-family: RobotoCondensedBold;
  font-weight: bold;
  src: url('../fonts/RobotoCondensed-Bold.ttf') format("opentype");}
body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: RobotoCondensed;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*general setting for the elements*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #363636;
}

code {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

table td,
table th {
  text-align: left;
  vertical-align: top;
}

table th {
  color: #363636;
}

.content:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content li + li {
  margin-top: 0.25em;
}

.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #363636;
  font-weight: 400;
  line-height: 1.125;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

.content h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

.content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

.content ol {
  list-style: decimal outside;
  margin-left: 2em;
  margin-top: 1em;
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

.content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.content ul ul ul {
  list-style-type: square;
}

.content dd {
  margin-left: 2em;
}

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.content figure:not(:first-child) {
  margin-top: 2em;
}

.content figure:not(:last-child) {
  margin-bottom: 2em;
}

.content figure img {
  display: inline-block;
}

.content figure figcaption {
  font-style: italic;
}

.content pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
}

.content sup,
.content sub {
  font-size: 75%;
}

.content table {
  width: 100%;
}

.content table td,
.content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.content table th {
  color: #363636;
  text-align: left;
}

.content table tr:hover {
  background-color: whitesmoke;
}

.content table thead td,
.content table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.content table tfoot td,
.content table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
  border-bottom-width: 0;
}

.content.is-small {
  font-size: 0.75rem;
}

.content.is-medium {
  font-size: 1.25rem;
}

.content.is-large {
  font-size: 1.5rem;
}


.book {
  background-color: white;
}
.page {
  width: 21cm;
  min-height: 29.7cm;
  /*padding: 24.694mm;*/
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 0cm;
  /*border: 2px lightblue solid;*/
  height: 247.65mm;
  width: 160.612mm;
  /*outline: 2cm #FFEAEA solid;*/
  line-height: 26px;
  line-height: 1.625rem;
  margin: 24.694mm 24.694mm 0mm 24.694mm;

}
.oldstyle {
  font-variant-numeric: oldstyle-nums;
}
.content-left {
  width: 91.044mm;
  margin-right: 6.35mm;
  float: left;
}
.content-right {
  width: 63.217mm;
  float: left;
}

.absolute-f {
  position: absolute;
}

/*styling for text*/
.title-section {
  height: 22.225mm;
}
.title-text {
  height: 15.875mm;
}
.title-text-leftside {
  float: left;
  margin-right: 6.35mm;
}
.title-text-rightside {
  float: inherit;
}
.headline-bold {
  color: #000;
  font-family: RobotoCondensedBold;
  font-size: 35pt;
  line-height: 36pt;
}
.headline {
  color: #000;
  font-family: RobotoCondensed;
  font-size: 35pt;
  line-height: 36pt;
}
.headline-white {
  color: #fff;
}
.headline-orange {
  color: #f39500;
}
.accentuation-orange {
  color: #f39500;
  font-family: RobotoCondensedBold;
  font-size: 24pt;
  line-height: 27pt;
  word-break: break-word;
  hyphens: auto;
}
.accentuation-white {
  color: #fff;
  font-family: RobotoCondensedBold;
  font-size: 24pt;
  line-height: 27pt;
  word-break: break-word;
  hyphens: auto;
}
.big-text {
  color: #000;
  font-family: RobotoCondensedBold;
  font-size: 16pt;
  line-height: 27pt;
  word-break: break-word;
  hyphens: auto;
}
.big-text-normal {
  color: #000;
  font-family: RobotoCondensed;
  font-size: 16pt;
  line-height: 27pt;
  word-break: break-word;
  hyphens: auto;
}
.big-text-orange {
  color: #f39500;
  font-family: RobotoCondensed;
  font-size: 16pt;
  line-height: 27pt;
  word-break: break-word;
  hyphens: auto;
}
.big-text-shorter-lineheight {
  line-height: 14pt;
}
.content {
  color: #000;
  font-family: RobotoCondensed;
  font-size: 12pt;
  line-height: 18pt;
  word-break: break-word;
  hyphens: auto;
}
.content-no-marginbottom {
  color: #000;
  font-family: RobotoCondensed;
  font-size: 12pt;
  line-height: 18pt;
  word-break: break-word;
  hyphens: auto;
  margin-bottom: 0pt;
}
.content-no-wordbreak {
  color: #000;
  font-family: RobotoCondensed;
  font-size: 12pt;
  line-height: 18pt;
}
.content-bold {
  font-family: RobotoCondensedBold;
}
.content-preisspanne {
  font-size: 11.2pt;
  text-align: justify;
}
.orange-text {
  color: #f39500;
}
.orange-text-bold {
  font-family: RobotoCondensedBold;
  color: #f39500;
}
.figure-text {
  font-family: RobotoCondensed;
  font-size: 72pt;
}
.figure-text-bold {
  font-family: RobotoCondensedBold;
  font-size: 72pt;
  line-height: 72pt;
  color: #f39500;
}
.figure-text-bold-white {
  font-family: RobotoCondensedBold;
  font-size: 72pt;
  line-height: 72pt;
  color: #fff;
  text-align: center;
}
.link, .link:hover {
  color: #000;
}
.link-orange, .link-orange:hover {
  color: #f39500;
}
.text-align-vertical {
  vertical-align: middle;
}
.email-link {
  word-break: break-all;
  hyphens: none;
}
.email-link {
  word-break: break-all;
  hyphens: none;
}


/*styling for seperator*/
.seperator {
  height: 0.595mm;
  background: #f39500;
  border: none;
  margin: 0pt;
}
.seperator-short {
  height: 0.595mm;
  width: 118.871mm;
  background: #f39500;
  border: none;
  margin: 0pt;
}
.seperator-medium {
  height: 0.595mm;
  width: 125.221mm;
  background: #f39500;
  border: none;
  margin: 0pt;
}
.seperator-vertical-page2 {
  height: 138mm;
  width: 0.595mm;
  background: #fee6c9;
  border: none;
  margin: 0pt;
}
.seperator-vertical-page3 {
  height: 65.88mm;
  width: 0.595mm;
  background: #fee6c9;
  border: none;
  margin: 0pt;
}

/*styling for first page*/
.address-left {
  height: 88.9mm;
}
.company-customer-address {
  padding-top: 31.75mm;
}
.company-address {
  font-size: 9pt;
  line-height: 11pt;
}
.logo-and-address {
  height: 92.075mm;
}
.signature-section {
  height: 22.225mm;
  margin-top: 3.175mm;
  margin-bottom: 3.175mm;
}
.signature {
  max-height: 22.225mm;
  max-width: 100%;
}
.logo-firstpage {
  height: 28.575mm;
  margin-top: 6.35mm;
  margin-bottom: 9.525mm;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.logo {
  vertical-align: middle;
  max-height: 100%;
}
.ceo {
  height: 63.5mm;
  margin-bottom: 6.35mm;
}
.ceo-image {
  max-height: 250px;
  max-width: 250px;
  border-radius: 250px;
  border: 3px solid #FFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.ceo-name {
  color: #000;
  font-family: RobotoCondensed;
  font-size: 16pt;
  line-height: 26pt;
}

/*styling for second page*/
.content-left-page2, #map {
  width: 91.044mm;
  height: 41.275mm;
  float: left;
}
.content-right-page2 {
  width: 63.217mm;
  height: 41.275mm;
  margin-right: 6.35mm;
  float: left;
}
.lower-content-page2 {
  clear: both;
  padding-top: 15.875mm;
}
.lower-left-section-page2, .lower-right-section-page2 {
  float: left;
  width: 76.405mm;
}
.text-above-photo {
  width: 63.217mm;
  height: 28.575mm;
}
.text-below-photo-left {
  float: left;
  width: 63.217mm;
  height: 112.5pt;
  padding-top: 7.938mm;
  margin-bottom: 22pt;
}
.text-below-photo-right {
  float: left;
  height: 112.5pt;
  padding-left: 13.913mm;
  padding-top: 7.938mm;
  margin-bottom: 22pt;
}
.house {
  height: 50.8mm;
  margin-bottom: 7.938mm;
}
.house-left-top-condition {
  padding-left: 13.913mm;
}
.house-left-top-condition {
    padding-left: 13.913mm;
}
.house-price-arrow-left {
  float: right;
  height: 100%;
  width: auto;
  padding-top: 3pt;
}
.house-price-arrow-right {
  float: left;
  height: 100%;
  width: auto;
  padding-top: 3pt;
}

/*styling for third page*/
.left-arrows-content {
  float: left;
  width: 91.044mm;
}
.right-arrows-content {
  float: left;
}
.month {
  /*margin left was at 13.913mm but had to shift left to fit other content*/
  margin-left: 9.913mm;
  margin-right: 3.175mm;
  width: 26.59mm;
  float: left;
}
.left-arrows {
  float: left;
  width: 51.304mm;
}
.right-arrows {
  float: left;
  width: 51.304mm;
}
.small-arrow-left {
  position: relative;
  width: 32.3mm;
  height: 6.35mm;
  float: right;
  text-align: right;
  padding-right: 3.175mm;
}
.medium-arrow-left {
  position: relative;
  width: 46.74mm;
  height: 12.7mm;
  margin-top: 0.595mm;
  float: right;
  text-align: right;
}
.large-arrow-left {
  position: relative;
  width: 51.304mm;
  height: 6.35mm;
  margin-top: 0.595mm;
  float: inherit;
  text-align: right;
  padding-right: 3.175mm;
}
.text-medium-arrow-left {
  z-index: 2;
  position: relative;
  right: 7%;
  top: 6%;
}
.text-medium-arrow-right {
  z-index: 2;
  position: relative;
  left: 6%;
  top: 6%;
}
#small_arrow_left_content, #medium_arrow_left_content, #large_arrow_left_content, #small_arrow_right_content, #medium_arrow_right_content, #large_arrow_right_content {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.text-small-arrow-left, .text-large-arrow-left, .text-small-arrow-right, .text-large-arrow-right {
  z-index: 2;
  position: relative;
}
.small-arrow-right {
  position: relative;
  width: 32.3mm;
  height: 6.35mm;
  float: inherit;
  text-align: left;
  padding-left: 3.175mm;
}
.medium-arrow-right {
  position: relative;
  width: 46.74mm;
  height: 12.7mm;
  margin-top: 0.595mm;
  float: inherit;
  text-align: left;
}
.large-arrow-right {
  position: relative;
  width: 51.304mm;
  height: 6.34mm;
  margin-top: 0.595mm;
  float: right;
  text-align: left;
  padding-left: 3.175mm;
}
.city-left {
  float: right;
  margin-top: 3.175mm;
  margin-bottom: 3.175mm;
}
.city-right {
  float: inherit;
  margin-top: 3.175mm;
  margin-bottom: 3.175mm;
}
.vertical-line {
  float: left;
  margin: 0mm 3.175mm 0mm 3.175mm;
}
.lower-section-page3 {
  float: left;
  width: 118.871mm;
}
.lower-section-right-page3 {
  float: left;
  width: 41.74mm;
}
.title-section-2 {
  clear: both;
  float: left;
  height: 22.225mm;
}
.graph {
  float: left;
  height: 28.575mm;
  width: 111.308mm;
}
.bubble {
  position: relative;
  float: left;
  height: 41.74mm;
  width: 41.74mm;
  margin-bottom: 6.35mm;
}
#bubble-content {
  z-index: 1;
  position: relative;
}
.text-bubble {
  position: absolute;
  top: 20%;
  z-index: 2;
  font-size: 54pt;
  letter-spacing: -3pt;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
}
.bottom-section-page3 {
  clear: both;
}
.bottom-section-page3-left {
  float: left;
  width: 35.39mm;
  height: 28.575mm;
}
.bottom-section-page3-right {
  float: left;
  width: 125.221mm;
}
.bottom-section-page3-right-content {
  float: left;
  width: 125.221mm;
  height: 34.925mm;
}

/*styling for fouth page*/
.header-section-page4 {
  height: 42.863mm;
}

/*styling for fifth page*/
.text-leftside-fifthpage {
  padding-top: 26.987mm;
}
.logo-lastpage {
  height: 28.575mm;
  margin-top: 6.35mm;
  margin-bottom: 6.35mm;
  text-align: center;
}
.phone-image {
  height: 6.35mm;
  vertical-align: middle;
}
.email-image {
  height: 3.175mm;
}
.team-image-section {
  height: 79.375mm;
  clear: both;
  margin-bottom: 6.35mm;
}
.team-image, .slogan {
  width: auto;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slogan-section {
  height: 22.225mm;
  width: 132.785mm;
  margin: auto;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  .grid-f {
    background-color: lightblue !important;
    -webkit-print-color-adjust: exact;
  }

  body {
    -webkit-print-color-adjust: exact;
  }
  .content-preisspanne {
    font-size: 11.2pt;
    text-align: justify;
  }
  /*
  html {
    zoom: 110%;
  }
  */

  .font-light {
    font-weight: 300;
  }

  .font-regular {
    font-weight: 400;
  }

  .font-heavy {
    font-weight: 700;
  }

  /* POSITIONING */

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .justify {
    text-align: justify;
  }

  /* ==== GRID SYSTEM ==== */

  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    position: relative;
    width: 100%;
  }

  .row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 96%;
  }

  .col-1-sm {
    width: 4.33%;
  }

  .col-2-sm {
    width: 12.66%;
  }

  .col-3-sm {
    width: 21%;
  }

  .col-4-sm {
    width: 29.33%;
  }

  .col-5-sm {
    width: 37.66%;
  }

  .col-6-sm {
    width: 46%;
  }

  .col-7-sm {
    width: 54.33%;
  }

  .col-8-sm {
    width: 62.66%;
  }

  .col-9-sm {
    width: 71%;
  }

  .col-10-sm {
    width: 79.33%;
  }

  .col-11-sm {
    width: 87.66%;
  }

  .col-12-sm {
    width: 96%;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .hidden-sm {
    display: none;
  }

  @media only screen and (min-width: 33.75em) {  /* 540px */
    .container {
      width: 80%;
    }
  }

  @media only screen and (min-width: 45em) {  /* 720px */
    .col-1 {
      width: 4.33%;
    }

    .col-2 {
      width: 12.66%;
    }

    .col-3 {
      width: 21%;
    }

    .col-4 {
      width: 29.33%;
    }

    .col-5 {
      width: 37.66%;
    }

    .col-6 {
      width: 46%;
    }

    .col-7 {
      width: 54.33%;
    }

    .col-8 {
      width: 62.66%;
    }

    .col-9 {
      width: 71%;
    }

    .col-10 {
      width: 79.33%;
    }

    .col-11 {
      width: 87.66%;
    }

    .col-12 {
      width: 96%;
    }

    .hidden-sm {
      display: block;
    }
  }
}
