.grid-f {
   background-color: lightblue;
}

/*styling for the footer*/

.footer-content {
    margin-top: 3.175mm;
    height: 6.35mm;
    float: left;
    margin-left: 24.694mm;
}

.footer-image {
    float: left;
    height: 6.35mm;
    max-width: 35.39mm;
}

.footer-text {
    float: left;
    margin-left: 3.175mm;
}

.footer-text-style {
    font-family: RobotoCondensed;
    font-size: 9pt;
    line-height: 11pt;
    color: #000;
}
.footer-text-style-bold {
    font-family: RobotoCondensedBold;
    font-size: 9pt;
    line-height: 11pt;
    color: #000;
    margin-top: -2pt;
}
.footer-orange-text {
    color: #f39500;
}

.footer-orange-bold {
    font-family: RobotoCondensedBold;
    color: #f39500;
}

.footer-logo {
    width: auto;
    height: 100%;
    vertical-align: middle;
    display: block;
    margin: auto;
}

.footer-page-number {
    float: right;
    margin-top: 6.30mm;
    margin-right: 52pt;
}